.DS_Store

__pycache__/
.Python
build/
dist/
lib/
lib64/

*.log
local_settings.py
*.sqlite3


.env
.venv
env/
venv/
node_modules/
.env
.cache
variables.tf
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform
rav.yaml
